<!-- FOOTER -->
    <footer id="footer" class="fixed-bottom container-fluid text-center pt-2">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h3 class="fw-normal">Skate Park Santiago ©℗®™<C class="A"></C></h3>
          </div>
          <div class="col-12 col-sm-6">
            <a target="_blank" href="https://www.linkedin.com/">
              <i class="fab fa-linkedin fa-2x mx-2"></i>
            </a>
            <a target="_blank" href="https://twitter.com/home">
              <i class="fab fa-twitter-square fa-2x mx-2"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/">
              <i class="fab fa-facebook-square fa-2x mx-2"></i>
            </a>
            <a target="_blank" href="https://github.com/robinsonrf">
              <i class="fab fa-github-square fa-2x mx-2"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>