 <!-- BARRA NAVEGACION -->
<nav class="navscroll navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container-fluid mx-5 pt-2" id="navbar">
        <a class="navbar-brand fw-bold space" href="/">
            <img src="/assets/img/logo1.png" alt="logo" width="100" height="45" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link  active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/login">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/">Lista Participantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datos">Mi Cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin">Intranet</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- FIN BARRA NAVEGACION -->